[Desktop Entry]
Encoding=UTF-8
Version=1.2
Type=Application
Terminal=false
Exec=/usr/bin/photomanager
Name=PhotoManager
Comment=A simple way to comb through large photo sets.
Categories=Graphics;
Icon=/usr/share/pixmaps/photomanager.png
Name[en_US]=PhotoManager.desktop
